{% extends "base.html" %}

{% block content %}
    <style>
        .row {
            margin-right: 0;
        }
        .footer-area {
            position: fixed;
            width: 100%;
            bottom: 0;
        }
    </style>s
<div style="width: 100%; text-align: center;"></div>

    <form style="padding-top: 20vh; text-align: center;" action="" method="post">{% csrf_token %}
        <p style="font-size: 25px;">Введите почту</p>
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
        <input type="button" class="btn btn-default btn-lg" value="Сбросить пароль" />
    </form>
</div>
{% endblock %}



