{% extends 'base.html' %}

{% block content %}
    <style>
        .row {
            margin-right: 0;
        }
    </style>

    {% comment %} <h1>{{ request.user.pat }}</h1> {% endcomment %}

    {% if succes %}
        <h2>Profile was changed</h2>
    {% else %}
        <h2>Profile</h2>
    {% endif %}

    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
    </div>
    {% endfor %}
    <hr>
    <div style="width: 100%; oveflow: hidden;">
        <form 
        style="" 
        enctype="multipart/form-data" 
        method="POST" 
        action="" 
        id="demo-form2" 
        data-parsley-validate class="form-horizontal form-label-left">
            
            {% csrf_token %}
            
            {% for v in form.visible_fields %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-6">
                        {{ v.label_tag }} <br>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input 
                                id="first-name" 
                                type="{{ v.field.widget.input_type }}" 
                                value="{% if v.value %}{{ v.value }}{% endif %}" 
                                name="{{ v.name }}" 
                                {% comment %} required="required"  {% endcomment %}
                                class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="row">
                    <div style="text-align: center;" class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        

    </div>

{% endblock %}