{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .footer-area {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
</style>


<section class="contact-area">
    <div class="container">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-12 col-lg-6">
                <div class="contact--info mt-50 mb-100">
                    <h4>Контактная информация</h4>
                    <ul class="contact-list">
                        {% for v in contact_details %}
                            <li>
                                <h6><i class="fa fa-clock-o" aria-hidden="true"></i>{{ v.name }}</h6>
                                <h6>{{ v.text }}</h6>
                            </li>                        
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}
